.text-danger{
    text-align: start;
    margin-left: 7px;
}

h1{
    color: white;
}

#error{
    display: none;
}

p{
    color: white;
}

a{
    color: aqua;
    text-decoration: none;
}


a:hover{
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}