<div class="container mt-5">
  <button class="btn btn-success" (click) ="logout()">logout</button>
    <div class="row">
        <div class="col-lg-12 offset-lg-0">
            <div class="card">
                <div class="card-body text-center">
                    <span>Electronicos</span>
                    <button class="btn btn-success float-end" routerLink="/crear-electronico">Nuevo</button>
                    <table  class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">idInventario</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Color</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Descripcion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let electronico of listElectronico">
                            <th scope="row">{{electronico._id}}</th>
                          
                            <td><a [routerLink] ="['/datos-extra', electronico._id]">{{electronico.categoria}}</a></td>
                            <td>{{electronico.marca}}</td>
                            <td>{{electronico.precio}}</td>
                            <td>{{electronico.color}}</td>
                            <td>{{electronico.modelo}}</td>
                            <td>{{electronico.descripcion}}</td>
                            <td>
                                <button [routerLink] ="['/editar-electronico', electronico._id]" class="btn btn-success">E</button>
                                <button (click) ="eliminarElectronico(electronico._id)" class="btn btn-danger">D</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                     <!-- <h5 *ngIf = "listElectronico.length == 0">No hay electronicos</h5> -->
                </div>
            </div>
        </div>
    </div>
</div>
