<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>Pedidos</span>
                    <table  class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Empresa</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">idPedidoVentas</th>
                            
                            <th scope="col">Entrega</th>
                            <th scope="col">Entregado</th>
                            <th scope="col">Estado</th>

                        
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let pedidos of listPedido2">
                            
                            <td>{{pedidos.empresa}}</td>
                            <td>{{pedidos.categoria}}</td>
                            <td>{{pedidos.modelo}}</td>
                            <td>{{pedidos.cantidad}}</td>
                            <td>{{pedidos.fecha}}</td>
                            <td>{{pedidos.idPedidoVentas}}</td>
                            
                            <td>{{pedidos.entrega}}</td>
                            <td>{{pedidos.estado}}</td>
                            <td>
                                <button class="btn btn-success" (click)="cambioEstado(pedidos._id)">Entregado</button>

                            </td>

                           
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>